:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
